![Pandas Tutorial | Hedaro >](https://www.dropbox.com/s/220ncn0o5danuey/pandas-ipython-tutorials-hedaro.jpg?dl=1)
# Lesson 10
> ***These tutorials are also available through an email course, please visit [http://www.hedaro.com/pandas-tutorial](http://www.hedaro.com/pandas-tutorial) to sign up today.***

* From DataFrame to Excel  
* From Excel to DataFrame  
* From DataFrame to JSON  
* From JSON to DataFrame

In [1]:
import pandas as pd
import sys

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Pandas version 1.0.5

# From DataFrame to Excel

In [3]:
# Create DataFrame
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [4]:
# Export to Excel
df.to_excel('Lesson10.xlsx', sheet_name = 'testing', index = False)
print('Done')

Done

# From Excel to DataFrame

In [5]:
# Path to excel file
# Your path will be different, please modify the path below.
location = r'C:\notebooks\pandas\Lesson10.xlsx'

# Parse the excel file
df = pd.read_excel(location, 0)
df.head()

   Number
0       1
1       2
2       3
3       4
4       5

In [6]:
df.dtypes

Number    int64
dtype: object

In [7]:
df.tail()

   Number
4       5
5       6
6       7
7       8
8       9

# From DataFrame to JSON

In [8]:
df.to_json('Lesson10.json')
print('Done')

Done

# From JSON to DataFrame

In [9]:
# Your path will be different, please modify the path below.
jsonloc = r'C:\notebooks\pandas\Lesson10.json'

# read json file
df2 = pd.read_json(jsonloc)

In [10]:
df2

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [11]:
df2.dtypes

Number    int64
dtype: object

<p class="text-muted">This tutorial was created by <a href="http://www.hedaro.com" target="_blank"><strong>HEDARO</strong></a></p>